{% extends 'base.html' %}

{% block title %}

<title> LOGIN FORM </title>
{% endblock %}

{% block content %}
<div class="container jumbotron">
  <form method="post">
    {% csrf_token %}
    <label for="u"><b>ENTER USERNAME:</b></label>
    <input type="text" id="u" name="un" class="form-control">
    <br><br>
    <label for="p"><b>ENTER PASSWORD</b></label>
    <input type="password" id="p" name="pw" class="form-control">
    <br><br>
    <input type="submit" value="LOGIN" class="btn btn-success btn-lg">


  </form>
</div>
{% endblock %}